<!--The content below is only a placeholder and can be replaced.-->
<h1>Hello Minions!</h1>
<img src="http://weknowyourdreams.com/images/minions/minions-01.jpg" width="384" length="240">
<div><label for="CheckinDate">Check in Date</label>
    <input [(ngModel)]="checkinDate" type="date" name="checkinDate" id="CheckinDate">
</div>

<div><label for="CheckoutDate">Check out Date</label>
    <input [(ngModel)]="checkoutDate" type="date" name="checkoutDate" id="">
</div>

<input (click)="save()" type="button" value="Save">
<input (click)="overview()" type="button" value="Booking Overview">
<input (click)="clear()" type="button" value="Clear">
<ul><li *ngFor = "let date of bookingDates">
    {{date.checkinDate}} - {{date.checkoutDate}}</li></ul>
