<!--The content below is only a placeholder and can be replaced.-->
<md-sidenav-container>
    <md-sidenav #sidenav mode="over">
        <md-list>
        <md-list-item (click)="sidenav.close()" routerLink="/overview">Overview</md-list-item>
        <md-list-item (click)="sidenav.close()" routerLink="/create">Date Registeration</md-list-item>
        </md-list>
    </md-sidenav>


    <div>
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h1>Hello Minions!</h1>
            </div>
        </div>


        <div class="columns is-centered">
            <div class="column is-narrow">
                <img (click)= "sidenav.open()" src="http://weknowyourdreams.com/images/minions/minions-01.jpg" width="384" length="240">
            </div>
        </div>
        <router-outlet></router-outlet>

        <form>
            <div class="columns is-centered">
                <div class="column is-narrow">
                </div>
            </div>
        </form>

        <ul>
            <li *ngFor="let date of bookingDates">
                {{date.checkinDate}} - {{date.checkoutDate}}</li>
        </ul>
    </div>
</md-sidenav-container>