<!--The content below is only a placeholder and can be replaced.-->
<md-sidenav-container>
        <md-menu #appMenu="mdMenu">
                <button md-menu-item (click)="navBooking()"> Booking </button>
                <button md-menu-item (click)="navOverview()"> Overview </button>
                <button md-menu-item (click)="navAdmin()"> Admin</button>
                <button md-menu-item (click)="navLogOut()">Log Out</button>
              </md-menu>
              <button md-icon-button [mdMenuTriggerFor]="appMenu">
                    <md-icon>menu</md-icon>Menu
                 </button>


    <div>
        <div class="columns is-centered">
            <div class="column is-narrow">
                <h1 class="md-display-2">Hello Minions!</h1>
            </div>
        </div>


        <div class="columns is-centered">
            <div class="column is-narrow">
                    <img src="http://www.buildabear.ca/public/images/initiatives/minions/promo1.png">   
              <!-- <img src="http://weknowyourdreams.com/images/minions/minions-01.jpg" width="384" length="240"> -->
            </div>
        </div>
        <router-outlet></router-outlet>

        <form>
            <div class="columns is-centered">
                <div class="column is-narrow">
                </div>
            </div>
        </form>

        <ul>
            <li *ngFor="let date of bookingDates">
                {{date.checkinDate}} - {{date.checkoutDate}}</li>
        </ul>
    </div>
</md-sidenav-container>